<a href="https://colab.research.google.com/github/manthanawgan/MLops/blob/main/Duration_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pd.__version__

'2.2.2'

In [13]:
df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-01.parquet")

In [43]:
df.shape

(3403248, 21)

In [44]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
cbd_congestion_fee              float64
duration                        float64
dtype: object

In [20]:
df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
df.duration = df.duration.apply(lambda td : td.total_seconds() / 60)

In [33]:
df.duration.describe(percentiles = [0.99, 0.98, 0.95] )

count    3.475226e+06
mean     1.501812e+01
std      3.871358e+01
min     -5.147232e+04
50%      1.170000e+01
95%      3.620000e+01
98%      4.931667e+01
99%      5.891667e+01
max      5.626317e+03
Name: duration, dtype: float64

In [36]:
df = df[(df.duration >= 1) & (df.duration <= 60)]

In [50]:
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

df[categorical] = df[categorical].astype(str)

df[categorical].dtypes

PULocationID    object
DOLocationID    object
dtype: object